*{
    margin:0px; /* property-name: property-value;*/
    padding:0px;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#fad1e6;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}
.logo img{
    width: 40px;
    border-style: dotted;
    border-color:#fad1e6;
    border-width: 1px;
    border-radius: 100px;
}

.socials{
    padding-left: 30px;
    display:flex;
    gap: 20px;
}
.socials img{
    width:30px;
    height:30px;
}
header h2{
    text-align:left;
    padding-left:100px;
    color:#47031a;
    flex: 1;
    font: 50px;
    font-family: "Garamond", Times, serif;
    font-weight:600;
}
.nav-bar{
    display:flex;
    gap: 40px;
    list-style-type: none;
}
.nav-bar a{
    color:#47031a;
    font-family: "Garamond", Times, serif;
}

.nav-bar .current{
    color:white;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.content p{
    font-family: "Garamond", Times, serif;
}
.contentAboutMe{
    font-family: "Garamond", Times, serif;
    padding:20px;
}
fieldset, input{
    font-family: "Garamond", Times, serif;
}
.contentAboutMe ol, ul{
    padding-left:35px;
}
.contentAboutMe ul{
    list-style-type:circle;
}
.content .intro{
    padding-bottom: 60px;
    padding-top: 30px;
    text-align: center;
}
.content{
    width: 100%;
    padding-left:0px; 
    padding-bottom: 10px;

}
.contentHome {
    width: 50%;
    padding-top: 20px;
    padding-left: 20px;
  font-family: "Garamond", Times, serif;

}
.backg{

    background-image:url(images/chalk.jpg); /*IF you want a picture as a background */
    height: 100%;
   background-repeat:no-repeat;
   background-size:cover; /*If you want it to cover the whole background*/
   background-position: center;
   
}
.home-image{
    padding:5px;
}
.list-home{
    list-style-type: lower-roman;
}
.project-table {
    border-collapse: collapse;
     /*center*/
    margin-top: 20px;
    text-align: left;
    font-family: "Garamond", Times, serif;

}
.project-table td, .project-table th{
    border: 1px dashed #47031a;
    padding: 3px;
    text-align: left;
}
.contentContact {
    background-image:url(images/electback.jpg); /*IF you want a picture as a background */
    height: 100%;
   background-repeat:no-repeat;
   background-size:cover; /*If you want it to cover the whole background*/
   background-position: center;
   
}
.contentContact form{
    width:fit-content;
    margin:auto;
    text-align:left;
    padding: 2px;
    background-color: #fad1e6;
}
.contentContact legend{
    text-align: center;
}
.contentContact fieldset{
    padding: 3px;
}
.contentContact label{
    display: inline-block;
    vertical-align: top;
    width: 100px;
}
.contentContact input, .contentContact textarea{
    margin-bottom: 5px;
    width: 400px;
    padding: 6px;
    border: 1px solid#bbb;
    border-radius:4px;
    font-size:20px;
    box-sizing: border-box;
}

footer{
    width:100%;
    position: fixed;
    bottom: 0;
    background-color: #fad1e6;
    text-align:center;
    padding-top: 5px;
    padding-bottom:5px;
    font: 15px;
    font-family: "Garamond", Times, serif;

}
