*{
    margin:0px; /* property-name: property-value;*/
    padding:0px;
}
header{
    width: 100%;
    align-items:center;
    background-color:#fad1e6;
    padding-bottom:5px;
    position: fixed;
    top: 0;
}
header h2{
    text-align:center;
    color:#47031a;
}
.nav-bar{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}
.nav-bar a{
    color:#47031a;
}

.nav-bar .current{
    color:white;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.content{
    width: 100%;
}

footer{
    width:100%;
    position: fixed;
    bottom: 0;

    background-color: #fad1e6;
    text-align:center;

}
